<h1>Index</h1>

<p class="navbar-text pull-right">
  <% if admin_signed_in? %>
    Logged in as <strong><%= current_admin.email %></strong>.
    <%= link_to "Logout", destroy_admin_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
    <%= link_to "Login", new_admin_session_path, :class => 'navbar-link'  %>
  <% end %>
</p>

<% if admin_signed_in? %>
  <%= link_to 'Admin', 'posts/admin' %>
<% end %>

<h1>Listing posts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Lead</th>
    <th>Body</th>
    <th>Date</th>
    <th>Comments</th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.lead %></td>
      <td><%= post.body %></td>
      <td><%= post.created_at %></td>
      <td><%= post.comments.count %></td>
      <td><%= link_to 'Show', post_path(post) %></td>
    </tr>
  <% end %>
</table>